<div class="centered-card">
    <div class="card" style="width: 18rem;">
      <img src="https://i.pinimg.com/originals/d3/45/18/d345182095b495c8edac2171af26c509.png" class="card-img-top p-3" width="50" alt="...">
      <div class="card-body text-center">
        <h5 class="card-title">Login</h5>
        <p class="card-text">According to your role choose your login method.</p>
        <a href="/api/teacher/login" class="btn btn-success">Teacher</a>

            <a href="/api/student/login" class="btn btn-success">Student</a>
      </div>
    </div>
</div>
